[submodule "submodules/C0-microSD-utilities"]
	path = submodules/C0-microSD-utilities
	url = ../../signaloid/C0-microSD-utilities.git
[submodule "submodules/C0-microSD-litex-integration"]
	path = submodules/C0-microSD-litex-integration
	url = ../../signaloid/Signaloid-C0-microSD-litex-integration.git
