migen @ git+ssh://git@github.com/m-labs/migen.git
litex @ git+ssh://git@github.com/enjoy-digital/litex.git
litex-boards @ git+ssh://git@github.com/litex-hub/litex-boards.git
litespi @ git+ssh://git@github.com/litex-hub/litespi.git
pythondata-cpu-vexriscv @ git+ssh://git@github.com/litex-hub/pythondata-cpu-vexriscv.git
pythondata-software-picolibc @ git+ssh://git@github.com/litex-hub/pythondata-software-picolibc.git
pythondata-software-compiler_rt @ git+ssh://git@github.com/litex-hub/pythondata-software-compiler_rt.git
Sphinx
sphinxcontrib-wavedrom
iCE40_I2C_LiteX_integration @ git+ssh://git@github.com/signaloid/iCE40-I2C-LiteX-integration.git
